<%= link_to 'Upload new photo', new_photo_path, class: 'btn-lg' %>

<div class='photos'>
	<% @photos.in_groups_of(3, false) do |photo_row| %>
		<div class='row'>
		  <%= render photo_row %>
		 </div>
	<% end %>
</div>
